<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->

<div id="posts">
  <% if @posts %>
  <%=render(@posts)%>
  <% end %>
</div>

<div id="submit_bar">
  <p><strong>Submit your own!</strong></p>
    <%= render 'form' %>
</div>

<br />

