<h1>You Know You Go to Olin When...</h1>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->

<div class="posts">
  <% if @posts %>
  <%=render(@posts)%>
  <% end %>
</div>

<div class="submit_bar">
    <%= render 'form' %>
</div>

<br />

<%= link_to 'New Post', new_post_path %>
