<!DOCTYPE html>
<html>
<head>
  <title>YouKnowOlin</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>
<body>
    <div id="content">
      <div id="banner">
        <%= image_tag("uknow_logo_web_2.png") %>
      </div>
      <div id="main">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>
          <%= yield %><!-- <label id="code.depot.e.include"/> -->
      </div>
    </div>
</body>
</html>