<!DOCTYPE html>
<html>
<head>
  <title>YouKnowOlin</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "uKnowOlin" %><!-- <label id="code.depot.e.title"/> -->
  </div>

  <div id="main">
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
  </div>

</body>
</html>